body {
  margin: 0;
  padding: 0;
  background: black;
}

#root {
  --large-font: 3rem;
  --medium-font: 1.2rem;
  --small-font: 0.9rem;
}

.App {
  max-width: 1000px;
  margin: auto auto;
  letter-spacing: 1.5px;
  text-align: center;
  background-image: url("https://res.cloudinary.com/pacmankana/image/upload/v1542740935/url_shortener/url_shortener.jpg");
  background-size: cover;
}

.content_container {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 90%;
  font-family: "Dosis", sans-serif;
}

.content_title {
  font-size: var(--large-font);
  font-weight: bold;
  padding: 10px;
}

.content_subtitle {
  padding: 10px;
  font-size: var(--medium-font);
}

.content_button {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

button {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 80%;
}

button:hover {
  background: rgb(50, 50, 50);
  color: white;
  cursor: pointer;
}

textarea {
  width: 80%;
  /* max-width: 300px; */
  height: 120px;
  font-size: var(--small-font);
  color: black;
}

textarea:focus,
button:focus {
  outline: none;
}

.newUrlContent {
  margin: 5px;
}

.newUrl_text {
  font-size: var(--medium-font);
  font-weight: bold;
  padding: 10px;
}

.newUrl_url {
  font-size: var(--medium-font);
  color: inherit;
}

a {
  color: rgb(185, 185, 247);
}
a:hover {
  color: rgb(139, 139, 247);
}

.submit_button {
  width: 70px;
  align-self: flex-end;
  margin-right: 10%;
}

@media (max-width: 800px) {
  #root {
    --large-font: 2rem;
    --medium-font: 1rem;
    --small-font: 0.9rem;
  }
  .content_container {
    width: 100%;
  }
}
